<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= user.department %></td>
  <td>
    <%= render :partial => 'actions', :locals => {:user => user} %>
  </td>
</tr>
